.ty-new-category-link td {
    background-color: #dde7f1;
}

#content_category_mapping .choose-category, .dropdown-menu .choose-category {
    display: none !important;
}

#location_category {
    width: 350px;
    margin-bottom: 20px;
}

#elm_category_parent_id {
    width: 100%;
}

#btn_edit_category{
    visibility: hidden;
}